@using FitABit.Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en" style="font-size: 16px;" class="u-responsive-sm">
<head>
    <title>@ViewData["Title"] - FItABitWebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <script src="~/Plugins/jquery/jquery.js"></script>
    <link rel="stylesheet" href="~/FItABitWebProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FItABit</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-image">
        <div class="container">
            <main role="main" class="pb-3">

                <img src="~/img/FitABit-logos_transparent.png" alt="" class="logoImg" width=150 height=150>
                @RenderBody()
                <hr />
                <section class="u-align-center u-clearfix u-image u-shading u-valign-top u-section-1" id="carousel_b157" data-image-width="1600" data-image-height="933">

                    <h5 class="FitSite">Fitness Site</h5>
                    <h2 class="Slogan"> Get a bit more fit !</h2>
                    <h3 class="motivation">Improve every single day by tracking your progress.</h3>


                    @if (SignInManager.IsSignedIn(User))
                    {
                         <div class="button">
                        <a class="nav-link text-dark" href="/User/Index">Get started now<br /></a>
                        </div>
                    }
                    else
                    {
                        <div class="button">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Get started now<br /></a>
                    </div>
                    }
                    


                </section>

            </main>
        </div>

        <footer class="footer">
            <div class="container">
                &copy; @DateTime.Now.Year - FItABit - <a asp-area="" asp-controller="Home" asp-action="Privacy">More info</a>
            </div>
        </footer>
    </div>

    @*loader*@
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>