@using FitABit.Core.Models
@model UserEditViewModel
@{
    ViewData["Title"] = "User Edit";
}

<title>@ViewData["Title"]</title>
<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="FirstName" class="form-label"></label>
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <label asp-for="LastName" class="form-label"></label>
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div align="center" style=" margin: 20px 0" class="floating">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
            </div>

            <span class="popuptext" id="myPopup">@ViewData["Result"]</span>

        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
