@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {

        <a id="confirm-link" href="@Model.EmailConfirmationUrl onclick=" validate()"">Click here to confirm your account</a>
        <div id="msg"></div>
        <script>
            function validate() {
              google.script.run
              .withSuccessHandler(msg => document.getElementById("msg").innerHTML = 'Server Says: ' + msg);
              .validate();
            }
        </script>

        <script>
               function validate() {
              return 'ok';
            }
        </script>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

